.spotify-artist {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 100px 0px 100px 0px;
	padding: 10px;
	justify-content: space-around;
}
.indie-text {
	font-size: 40px;
	padding-right: 20px;
}
.indie-desc {
	font-size: 20px;
}
.artist {
	min-height: 20rem;
	border-radius: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 50%;
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
	justify-content: center;
}

.artist-details {
	display: flex;
	flex-direction: column;
	padding: 50px;
	justify-content: flex-start;
	align-items: flex-start;
}
.art-image {
	border: 1px solid black;
	height: 20rem;
	width: 20rem;
	margin-bottom: 38px;
	border-radius: 50%;
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
	justify-content: center;
	align-items: center;
	display: flex;
}

.tracklist-container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.art-name {
	font-size: 2.5rem;
	text-transform: capitalize;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}
.css-1fzpoyk img {
	border-radius: 10px;
}

@media only screen and (max-width: 600px) {
	.indie-desc {
		font-size: 12px;
		margin-top: 12px;
	}
	.artist {
		width: 50%;
	}
}
