.sim-layout {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.similar-arts {
	margin-top: 50px;
	width: 70%;
}

.groove-img {
	height: 400px;
}
.text-img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.similar-arts-text {
	font-size: 40px;
	text-align: center;
	margin: 0px 0px 25px;
}
.similar-arts-carousel {
	overflow-x: hidden;
	overflow-y: scroll;
	height: 300px;
	margin: 0 auto;
}

@media only screen and (max-width: 600px) {
	.sim-layout {
		flex-direction: column;
	}
	.similar-arts {
		width: 100%;
	}
	.groove-img {
		height: 400px;
	}
}
