.navbar {
	height: 150px;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	position: sticky;
	background-color: black;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: white;
}

.doti {
	font-weight: bold;
	font-family: Circular, Arial, sans-serif;
}

.logo {
	display: flex;
	flex-direction: row;
}
#text {
	font-size: 2rem;
}

.header {
	width: 100%;
	padding: 25px;
	height: 100%;
	display: flex;
	justify-content: space-between;
}
